.div{
    /* overflow-x: hidden; */
    display: block;
    min-height: 100vh;
    /* border: 3px solid black; */
    background-color: #111111;
    
}
.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    /* margin-top: 6rem; */
}
.box > *{
    flex: 1 1 10;
}
.box .text{
    color: white;
}
.card{
    width: 300px;
    margin-top: 5rem;
    /* border: 1px solid black; */
}
.text h1{
    font-size: clamp(1.4rem, 18vw ,3.6rem);
    margin-bottom: -1rem;
    color: white;
}
.name{
    color: aqua;
    font-weight: 800;
}
.text p{
    font-size: 2rem;
}
.card img{
    animation: mymove infinite 24s linear;
    border: 1px solid aqua;
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    box-shadow: 8px 8px 8px aqua;
    
    
}
.links{
    margin-left: -1rem;
    margin-bottom: 2rem;
}
.links img{
    width: 3.6rem;
    padding: 0.9rem;
}
.resume{
    color: aqua;
    text-decoration: none;
    border: 8px solid violet;
    padding: 1rem 3rem;
    border-radius: 40px;
    box-shadow: 4px 4px 4px aqua;
    font-weight: 700;
    font-size: 1rem;
}
.resume:hover{
    box-shadow: 4px 4px 4px violet;
    border: 8px solid aqua;
    color: white;
}
.spec{
    color: violet;
}
@keyframes mymove {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 860px){
      .box{
          text-align: center;

      }
      .card img{
        width: 10rem;
        height: 10rem;
      }
      .text{
          margin-top: 8rem;
      }
      .text h1{
          font-size: 3rem;
      }
  }
  @media (max-width:700px){
      .div{
          margin-top: -130px;
      }
  }
  